@charset
"utf-8"
;
/* CSS Document */
html {
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #414141;
    line-height: 1.5em;
    border: 3px;
}

a {
    text-decoration: none;
    color: #414141
}

a:hover {
    color: #F00;
    text-decoration: underline;
}

td a {
    text-decoration: underline;
    color: #00f
}

td a:hover {
    color: #F00;
    text-decoration: underline;
}

img {
    border: none
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    padding-left: 10px;
    color: red;
}

h2 {
    padding-left: 10px;
    color: red;
}

h3 {
    padding-left: 10px;
    color: red;
}

h3 a {
    padding-left: 10px;
    color: red;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
}

.hidden {
    display: none;
}

.error {
    color: red;
}

.message {
    color: green;
}

#container {
    position: relative;
    width: 985px;
    margin: 0 auto; /*border: solid #76AE2F 1px;*/
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
}

#header {
    height: auto;
}

#header #login {
    width: auto;
    padding: 5px 5px 5px 0;
    text-align: right;
    BORDER: solid #0f6 0px;
}

#header .headbar {
    height: 90px;
    background-image: url(../images/top.png);
}

#navbar {
    height: 20px;
    line-height: 20px;
    margin: 42px 0 0 0;
    padding: 0 0 0 145px;
    overflow: hidden;
}

#navbar ul li {
    width: 90px;
    text-align: center;
    font-weight: bold;
}

#navbar a {
    font-size: 14px;
    text-decoration: none;
}

#navbar a:hover {
    font-size: 14px;
}

.topbanner {
    height: 171px;
    background-color: #6FB92C;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 0;
}

.topline {
    height: 8px;
    background-color: #6FB92C;
    margin-bottom: 0;
    padding-bottom: 0;
}

#container {
    position: relative;
    width: 985px;
    margin: 0 auto;
    border: solid #76AE2F 1px;
}

#mainwrapper {
    background-color: #efffff;
    width: 985px;
    margin: 5px auto;
    margin-top: 0;
    padding: 0;
    padding-top: 5px;
    border: 0px solid #F00;
    position: relative;
}

#topbar {
    height: 170px;
    margin: 5px 2px 5px 2px;
}

#topbar .content {
    width: 500px;
    margin-left: 20px;
    padding: 10px 20px 0 0;
}

#topbar .content h2 {
    margin: 20px 0 0 0;
+ * margin : 30 px 0 0 0;
    color: #575B52;
}

#topbar .content h5 {
    margin: 5px 0 0 0;
    color: #DAE9C8;
}

#leftbar {
    float: left;
    width: 150px;
    margin: 0 0 0 5px;
    display: inline;
}

#centerbar {
    float: left;
    width: 700px;
    margin: 0 5px;
    display: inline;
}

#rightbar {
    float: right;
    width: 268px;
    margin: 0 5px 0 0;
    display: inline;
}

.crossbar {

}

.leftcol {
    float: left;
    width: 350px;
    margin: 0 0 0 5px;
+ * margin-left : 3 px;
    border-right: solid #EDF3EF 1px
}

.centercol {
    float: left;
    width: 350px;
    margin: 0 5px;
+ * margin-left : 3 px;
    border-right: solid #EDF3EF 1px;
    background-color: #fff;
}

.rightcol {
    float: right;
    width: 250px;
    margin: 0 5px 0 0;
+ * margin-right : 3 px;
}

#footer {
    text-align: center;
    width: 95%;
    margin: 20px auto;
    border-top: 1px solid #666;
    background: url(../images/bottom.png) repeat-x;
}

#mainwrapper .rightcol {
    float: right;
    width: 23%;
    padding: 0 2px 0 0;
    margin: 0;
    clear: right;
}

#mainwrapper .leftcol {
    float: left;
    width: 15%;
    padding: 0 0 0 2px;
    margin: 0;
    border: none;
}

#mainwrapper .centercol {
    float: left;
    padding: 0 7px;
    margin: 0;
    width: 60%;
    border: none;
}

.box {
    margin: 0 0 10px 0;
    padding: 2px;
    background-color: white;
    border: solid #bbb 1px;
}

.map {
    float: left;
    width: 765px;
    margin: 0 0 10px 5px;
    padding: 2px;
    background-color: white;
    border: solid #bbb 1px;
}

.mapbox {
    float: left;
    width: 380px;
    margin: 0;
    padding: 2px;
}

.mapinfo {
    display: inline;
    float: left;
    width: 370px;
    height: 278px;
    margin: 0 0 10px 0;
    padding: 2px;
    overflow-y: hidden;
}

.sitecrumb a {
    color: #000099;
}

.info {
    font-family: "宋体", Arial, Helvetica, sans-serif;
    padding: 0 6px;
    FONT-SIZE: 0.9em;
    background-color: #defffa;
}

.info li {
    padding: 4px 4px;
    list-style: circle;
    list-style-position: inside;
    text-align: left;
}

.list {
    padding: 0;
    margin: 5px 2px 2px 5px;
}

.right {
    float: right;
    margin: 0 2px 0 0;
    color: #6D6D6D
}

.r {
    font-weight: normal;
    font-size: 10px;
    float: right;
    margin: 0 2px 0 0;
    color: #6D6D6D
}

.list ul li {
    clear: both;
    background: url(img/list-li-tag.gif) left 8px no-repeat;
    line-height: 23px;
+ * line-height : 23 px;
    _line-height: 21px;
    padding: 0 0 0 12px;
}

.subject {
    padding: 10px;
}

.content {
    padding: 2px 0px;
    margin: 0;
}

.content p {
    text-indent: 20px;
    line-height: 1.5em;
}

.content a {
    color: #000066;
    text-decoration: underline;
}

.line {
    border-top: 1px #76AE2F dotted;
    margin: 2px 0 2px 0;
}

.button {
    BORDER: #ccc 1px outset;
    PADDING: 0;
    MARGIN-TOP: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.9em;
    BACKGROUND: url(button-bg.gif) repeat-x left top;
    CURSOR: pointer;
    COLOR: #666;
}

.t {
    height: 26px;
    padding-left: 5px;
    background: url(../images/lft-top.png) no-repeat left;
}

.t .t-m {
    float: right;
    height: 24px;
    padding-right: 10px;
    background: url(../images/more.png) no-repeat right 8px;
    color: #4D4D4D;
    cursor: pointer
}

.t .t-t {
    color: #BA2636;
    font-size: 14px;
    font-weight: bold;
    background: url(../images/v.jpg) repeat-x;
    height: 24px;
    line-height: 24px;
+ * line-height : 26 px;
    margin-left: 30px;
    overflow: hidden;
}

.t2 {
    height: 24px;
    padding-left: 5px;
    background: url(../images/left6.png) no-repeat;
}

.t2 .t2-t {
    color: #BA2636;
    font-size: 14px;
    font-weight: bold;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
+ * line-height : 26 px;
    margin-left: 45px;
    overflow: hidden;
    background: url(../images/middle.png) repeat-x;
}

.t3 {
    height: 24px;
    padding-left: 5px;
    background: url(../images/lft-mid.png) no-repeat;
}

.t3 .t3-t {
    color: #BA2636;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
+ * line-height : 26 px;
    margin-left: 30px;
    overflow: hidden;
    background: url(../images/v.jpg) repeat-x;
}

.t4 {
    height: 24px;
    padding-left: 5px;
    background: url(../images/rt-mid.png) no-repeat;
}

.t4 .t4-t {
    color: #BA2636;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
+ * line-height : 26 px;
    margin-left: 20px;
    overflow: hidden;
    background: url(../images/v.jpg) repeat-x;
}

.t4 .t-m {
    float: right;
    height: 24px;
    padding-right: 10px;
    background: url(../images/more.png) no-repeat right 8px;
    color: #4D4D4D;
    cursor: pointer
}

.edge {
    margin: 0 6px;
    background: url(../images/tree.png) repeat-x;
}

.border {
    border: 1px solid #66CCCC
}

.margin-top {
    margin-top: 10px;
}

.lands {
    padding: 0;
    margin: 2px;
}

.lands ul li {
    clear: both;
    padding: 0 0 0 2px;
    border-bottom: 1px #ccccff solid;
}

.lands li a {
    font-weight: bold;
    text-decoration: underline;
}

.odd {
    background: #eee;
    margin-bottom: 2px;
}

.even {
    background: #FFFFFF;
    margin-bottom: 2px;
}

dl {
    clear: both;
    margin-bottom: 1px;
    float: left;
}

dt, dd {
    padding: 1px 5px;
    float: left;
}

dt {
    width:60px;
    border-bottom: 1px dashed #ccc;
}